.mainNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    max-width: 1500px;
    /* margin: auto; */
    
}

.navContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 698px;
    

}
.navSign {
    width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navSign p {
    color: #fff;
}
.navSign button {
    width: 152px;
    height: 58px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.navlinks img {
    width: 62px;
    height: 16px;
}
.navTextLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 566px;
    color: white;
}


.navMenu {
    margin-left: 1rem;
    display: none;
    position: relative;
}
.navMenu svg {
    cursor: pointer;
}

.navMenuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var( --color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
.navMenuContainer p {
    color: #fff;
    margin: 1rem 0;
}

.navMenuContainerLinksSign {
    display: none;
}
.navMenuContainerLinksSign button {
    width: 152px;
    height: 58px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    color: #fff;
}


@media screen and (max-width: 1050px) {
    .navTextLink {
        display: none;
    }
    .navMenu {
        display: flex;
    }
    .navSign p {
        width: 60px;
    }
    
}

@media screen and (max-width: 700px) {
    .mainNavContainer {
        padding: 2rem 4rem;
    }
    .navSign p {
        width: 60px;
    }
}

@media screen and (max-width: 550px) {
    .mainNavContainer {
        padding: 2rem;
    }
    .navSign {
        display: none;
    }
    .navMenuContainer {
        top: 20px;
    }
    .navMenuContainerLinksSign {
        display: block;
    }
}
